h3 {
    margin bottom: 0;
    padding: 1rem;

    clip path: polygon(50% 0%, 100%0%, 100% 65%, 50% 100%, 0 65%, 0 0);
    font-family: "Lato", sans-serif;
    font-size: 4rem;
    font-weight: normal;
    background: lightblue;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg,
            rgb(30, 152, 223),
            rgb(221, 207, 216));
}

.main {
    margin: 100px auto;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

button {


    margin: 0;
    word-spacing: 120%;
    border-radius: 1rem;
    justify-content: space-evenly;
    padding: 15px;
    background: transparent;
    text-shadow: 2px 2px 2px #272020;
    font-family: "Bold", sans-serif;
    font-size: 18pt;
    border: 1px solid rgb(15, 6, 6);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: rgb(5, 8, 8);
    background: -webkit-linear-gradient(-65deg,
            rgb(3, 3, 3),
            rgb(255, 254, 254));
}